- cache ['v1', list, 'item'] do
  - list = list.decorate
  %li.media
    .love.pull-left= list.total_lovers
    .media-body
      %p
        %span.user #{list.linked_user}
      %h3
        = list.linked_title
        %small.text-muted #{list.date} by
