#list_notes
  - if params[:category_id].blank?
    %h2 Welcome to OWL!
    %p lalala lalalal lala lala llalala lalalal lala lala llalala lalalal lala lala laaalalala lalalal lala lala la
  - else
    %h2= ListCategories.at(params[:category_id].to_i)[0]
    %p lalala lalalal lala lala llalala lalalal lala lala llalala lalalal lala lala laaalalala lalalal lala lala la
