- cache ['v1', @user, 'info'] do
  = render partial: 'users/info', locals: {user: @user.decorate}

- cache ['v1', @user, 'followings'] do
  = render partial: 'followings/user_list', locals: {users: @users.decorate}
