= minimal_form_for [comment.list, comment], html: {class: 'hidden comment_form', role: 'form'}  do |f|
  = f.input :message, as: :text
  = f.button :submit, t('.submit'), class: 'btn btn-primary btn-full submit hidden'
