- cache ['v1', comment, 'item'] do
  - user = comment.user.decorate
  - comment = comment.decorate
  %li
    = comment.delete_link
    = user.linked_avatar_image(:small)
    = user.linked_login
    = comment.message
