.container

  .row
    .col-sm-12
      - cache ['v1', @user, 'info'] do
        = render partial: 'users/info', locals: { user: @user.decorate }

  .row
    - cache ['v1', @user, 'lovings'] do
      .col-sm-8
        = render partial: 'loves/list_list', locals: { user: @user.decorate, lists: @lists }
    - cache ['v1', @user, 'notes', :loved] do
      .col-sm-4.hidden-xs
        = render partial: 'users/notes', locals: { user: @user.decorate, type: :loved }
