#user_notes
  - case type
  - when :lists
    %h3 All #{user.login}'s lists
    %p lalala lalalal lala lala llalala lalalal lala lala llalala lalalal lala lala laaalalala lalalal lala lala la
  - when :loved
    %h3 #{user.login}'s loved lists
    %p lalala lalalal lala lala llalala lalalal lala lala llalala lalalal lala lala laaalalala lalalal lala lala la
  - when :followings
    %h3 People #{user.login}'s following
    %p lalala lalalal lala lala llalala lalalal lala lala llalala lalalal lala lala laaalalala lalalal lala lala la
  - when :followers
    %h3 People following #{user.login}
    %p lalala lalalal lala lala llalala lalalal lala lala llalala lalalal lala lala laaalalala lalalal lala lala la
