.container

  .row
    .col-sm-12
      - cache ['v1', @user, 'info'] do
        = render partial: 'users/info', locals: { user: @user.decorate }

  .row
    - cache ['v1', @user, 'followers'] do
      .col-sm-12
        = render partial: 'followers/user_list', locals: { user: @user.decorate, users: @users}
