- cache ['v1', @user, 'info'] do
  = render partial: 'users/info', locals: { user: @user.decorate }

- cache ['v1', @user, 'followers'] do
  = render partial: 'followers/user_list', locals: { user: @user.decorate, users: @users}
