%div#item_new_form.btn-group.btn-group-justified
  - Item::TYPES.each_with_index do |type, i|
    = link_to t(".#{type}"), list_items_path(list_id: list.id, type: i), method: :post, remote: true, class: "btn btn-default #{type}"
