$legacy-support-for-ie6: false
$legacy-support-for-ie7: false
$grey_pale: #f9f9f9
$grey_light: #e3e3e3
$grey_dark: #555555
$white_normal: #ffffff

@import compass/css3

.container
  margin-top: 2em

h1
  font-size: 1.8em
  margin-top: 0
  @media (min-width: 768px)
    font-size: 2.2em
  small
    font-size: 0.4em
    margin-top: 0.5em
    display: block

h2
  font-size: 1.6em
  @media (min-width: 768px)
    font-size: 1.8em

h3
  font-size: 1.4em
  @media (min-width: 768px)
    font-size: 1.6em

hr.trans
  border-color: transparent

.hidden
  display: none

.avatar-small
  +border-radius(5px)
.avatar-medium
  +border-radius(10px)
.avatar-large
  +border-radius(20px)

.btn-full
  display: block
  width: 100%

#header
  background: #f0f0f9
  margin-bottom: 1em
  padding: 5px 0
  margin-top: -28px
  @media (min-width: 768px)
    margin-top: 0
    +border-radius(5px)
  .logo
    font-weight: bold
    font-size: 1.7em
  .user
    margin-top: -10px
    margin-left: 10px
  .sign
    margin-left: 10px
  .right
    text-align: right
  .search
    clear: both
    @media (min-width: 768px)
      clear: none
    form
      padding-top: 10px
      @media (min-width: 768px)
        padding-top: 0
  .hidden-xs
    display: none !important
    @media (min-width: 768px)
      display: inline-block !important
  .visible-xs
    display: inline-block !important
    @media (min-width: 768px)
      display: none !important

.collapse-xs
  @media (min-width: 768px)
    height: auto !important
    display: block !important

#list_form_items
  font-weight: bold
  li
    font-size: 1.3em
    margin: 0 0 15px 0
    padding: 15px 0 0 0
    border-top: solid 1px $grey_light
    .item-body
      font-size: 0.7em
      .text
        margin: 0
        textarea
          height: 60px
      img
        margin: 0 10px 0 0
        width: 60px
        height: 60px
        float: left

#list
  .actions
    max-width: 220px
  .actions,
  .edit,
  .love
    margin-top: 0.5em
    margin-bottom: 0.5em
    @media (min-width: 768px)
      margin-top: 1em
      margin-bottom: 0
  .lovers:after
    font-family: 'FontAwesome'
    margin-left: 5px
    content: '\f08a'
  .comments:after
    font-family: 'FontAwesome'
    margin-left: 5px
    content: '\f0e5'

#lists
  li
    border-top: solid 1px $grey_pale
    margin-top: 5px
    padding-top: 5px
    font-size: 0.8em
    @media (min-width: 768px)
      margin-top: 10px
      padding-top: 10px
      font-size: 1em
    &:first-child
      border: none
      margin-top: 0
    .love
      padding: 0.15em 0.3em 0 0.3em
      @media (min-width: 768px)
        padding: 0em 0.5em
      font-size: 2em

#items
  font-weight: bold
  li
    margin: 0 0 8px 0
    padding: 8px 0 0 0
    font-size: 1.3em
    border-top: solid 1px $grey_pale
    clear: both
    &:first-child
      border: none
    .image
      margin: 0 10px 8px 0
      float: left
      width: 90px
      @media (min-width: 768px)
        width: 120px
    .name
      font-weight: normal
      font-size: 0.9em
      @media (min-width: 768px)
        font-size: 1em

#comments
  li
    .login
      font-weight: bold
      font-size: 1.2em
    .delete
      float: right
      font-size: 0.8em

#users
  margin-top: 1em
  li
    margin: 0 0 10px 0
    .avatar
      margin: 0 10px 0 0
    .login
      font-weight: bold
      font-size: 1.2em
    .btn
      margin: 8px 0 0 0
      float: right

#user_info
  margin-bottom: 1.5em
  .left
    padding-right: 15px
  .right_2
    vertical-align: bottom
  .avatar
    width: 96px
    @media (min-width: 768px)
      width: 128px
  .edit
    float: right
  h1
    margin-bottom: 0
    @media (min-width: 768px)
      margin-bottom: 5px
  .loves
    font-size: 1.4em
    @media (min-width: 768px)
      font-size: 1.8em
  .follow,
  .unfollow
    display: block
    position: relative
    margin-top: -10px
    +border-top-radius(0)

#user_links
  .btn
    padding: 6px 0 0 0
    line-height: 1.5em
    @media (min-width: 768px)
      padding: 6px 12px
      line-height: 2em
  a
    font-size: 1em
    @media (min-width: 768px)
      font-size: 1.2em
  strong
    display: block
    font-size: 1.4em
    @media (min-width: 768px)
      display: inline
      margin-right: 5px

#categories
  margin-bottom: 1em

#categories-collapse
  text-align: center
  line-height: 30px
  border-bottom: 1px solid #f0f0f0
  padding-bottom: 0.5em
  @media (min-width: 768px)
    padding-bottom: 1em
  li
    display: inline
    a
      font-size: 1.3em
      margin: 0 3px
      padding: 1px 4px
      background: #f0f0ff
      text-decoration: none
      &:hover,
      &.active
        background: #2a6496
        color: #fff
      @media (min-width: 768px)
        font-size: 1.5em
        margin: 0 5px
        padding: 2px 5px
