@import compass/css3
@import compass/layout

+sticky-footer(55px, "#main", "#push_footer", "#footer")

$legacy-support-for-ie6: false
$legacy-support-for-ie7: false

// http://www.colourlovers.com/palette/1565509/Second_Breakfast
$grey_light: #f9f9f9
$grey_normal: #e3e3e3
$grey_dark: #aaaaaa
$main_light: #D38487
$main_normal: #D24566
$special_light: #FEE9A1
// $special_light: #ACD0A0
$special_normal: adjust-lightness($special_light, -20)
$white_normal: #ffffff
$black_normal: adjust-lightness(#3F2102, 8)

body
  // font-family: 'Cabin Sketch', cursive
  color: $black_normal
  // background: adjust-lightness(#FEE9A1, 16)
  // background: url('background.jpg')

a
  // font-family: 'Cabin Sketch', cursive
  color: $main_light
  +transition-property(color, background-color)
  +transition-timing-function(ease)
  +transition-duration(0.3s)
  &:hover
    color: $main_normal

h1
  font-family: 'Cabin Sketch', cursive
  font-size: 2em
  font-weight: bold
  margin-top: 0
  margin-bottom: 20px
  @media (min-width: 768px)
    font-size: 3em
  small
    font-size: 0.4em
    margin-top: 0.5em
    display: block

h2
  // font-family: 'Cabin Sketch', cursive
  font-size: 1.6em
  @media (min-width: 768px)
    font-size: 1.8em

h3
  // font-family: 'Cabin Sketch', cursive
  font-size: 1.4em
  @media (min-width: 768px)
    font-size: 1.6em

hr.trans
  border-color: transparent

.simple_form
  .error
    .help-inline
      color: #ff6666
      padding: 5px 0 0 0
      display: block

.container
  position: relative
  margin-top: 2em
  &:before
    content: " "
    width: 100%
    height: 100%
    background: #f9f9f9
    position: absolute

.text-danger
  color: #ff6666

.btn
  color: $black_normal
  +transition-property(color, background-color)
  +transition-timing-function(ease)
  +transition-duration(0.3s)
.btn:hover
  background: $special_light
  color: $black_normal
.btn.active,
.btn.active:hover
  background: $grey_light
  color: $black_normal

.btn-primary
  color: $black_normal
  background: $special_light
  border: none
  &:hover
    color: $black_normal
    background: $special_normal

.hidden
  display: none

.empty
  font-style: italic
  padding-left: 1em

.avatar
  border: 1px solid rgba(0, 0, 0, 0.15)
.avatar-small
  +border-radius(5px)
.avatar-medium
  +border-radius(10px)
.avatar-large
  +border-radius(20px)

.btn-full
  display: block
  width: 100%

.collapse-xs
  @media (min-width: 768px)
    height: auto !important
    display: block !important

#main
  overflow: hidden

#footer
  padding-top: 10px
  .container
    margin-top: 0
  span:before
    content: "-"
    margin: 0 5px
    color: $grey_normal
  span:first-child:before
    content: ""
    margin: 0

#header
  background: $main_normal
  margin-bottom: 2em
  padding: 5px 0
  position: relative
  border-bottom: solid 2px $grey_light
  .container
    margin-top: 0
  .logo
    font-weight: bold
    font-size: 1.7em
    a
      color: $white_normal
      text-decoration: none
      &:hover
        color: $special_light
  .avatar
    width: 28px
    margin: -6px 2px -5px -10px
  .sign
    display: none
    margin-right: 10px
    @media (min-width: 442px)
      display: inline-block
  .right
    text-align: right
  .dropdown-menu
    text-align: left
  .tools
    display: inline-block
    margin-top: 2px
  .search
    clear: both
    @media (min-width: 768px)
      clear: none
    form
      margin-top: 2px
      padding-top: 10px
      @media (min-width: 768px)
        padding-top: 0
      .form-control
        height: 30px
  .hidden-xs
    display: none !important
    @media (min-width: 768px)
      display: inline-block !important
  .visible-xs
    display: inline-block !important
    @media (min-width: 768px)
      display: none !important

#top
  background-image: url('pattern.png')
  background-attachment: fixed
  border-bottom: solid 4px $grey_light
  .container
    color: $special_light
    margin-top: -2em
    padding: 2em 0 1em
    +background-image(linear-gradient(center left, rgba(255,255,255,0), rgba(255,255,255,0.8) 75%, rgba(255,255,255,0)))

#list_form
  .submit
    margin-bottom: 20px

#list_items_forms
  .form-group
    margin-bottom: 5px
  .imagePreview,
  .imageInput
    background: $grey_light
    border: dashed 1px $grey_normal
    text-align: center
    padding: 0
    height: 130px
    padding: 4px 0
    margin-bottom: 5px
    position: relative
    +border-radius(5px)
  .imagePreview
    .delete
      position: absolute
      top: 5px
      right: 5px
      cursor: pointer
  .imageInput
    overflow: hidden
    display: block
    &:before
      content: '\f03e'
      font-family: 'FontAwesome'
      font-size: 3em
      color: $grey_normal
      position: absolute
      width: 100%
      text-align: center
      top: 30px
      left: 0
    input
      cursor: pointer
      direction: ltr
      font-size: 200px
      margin: 0
      opacity: 0
      position: absolute
      right: 0
      top: 0

#item_new_form
  margin-top: 20px
  .btn
    text-align: center
    &:before
      font-family: 'FontAwesome'
      font-size: 2.8em
      margin-right: 2px
      margin-left: 5px
      display: block
    &.text:before
      content: '\f031'
    &.image:before
      content: '\f03e'
    &.link:before
      content: '\f0c1'

#list
  margin-bottom: 1em
  h1
    margin-bottom: 10px
  .info
    .avatar
      width: 24px
      margin-top: -5px
  .edit_button:before
    font-family: 'FontAwesome'
    margin-right: 2px
    margin-left: 5px
    content: '\f044'
  .report_button
    opacity: 0.5
    &:hover
      opacity: 1
    &:before
      font-family: 'FontAwesome'
      margin-right: 2px
      margin-left: 5px
      content: '\f071'

#list_nav
  .lovers:after
    font-family: 'FontAwesome'
    margin-left: 5px
    content: '\f08a'
//   .comments:after
//     font-family: 'FontAwesome'
//     margin-left: 5px
//     content: '\f0e5'

#lists
  li
    border-top: 1px dashed $grey_normal
    margin-top: 8px
    padding-top: 8px
    font-size: 0.8em
    overflow: visible
    @media (min-width: 768px)
      margin-top: 10px
      padding-top: 10px
      font-size: 1em
    &:first-child
      padding-top: 0
      margin-top: 0
      border: none
    .avatar
      margin-right: 5px
      margin-top: 0
      width: 24px
      @media (min-width: 768px)
        margin-top: -5px
    .love
      position: relative
      padding: 0 0.3em
      color: $main_normal
      @media (min-width: 768px)
        padding: 0.1em 0.5em
      font-size: 2em
      &:after
        font-family: 'FontAwesome'
        margin-left: 5px
        font-size: 0.85em
        content: '\f08a'
      &:before
        content: ""
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: -1
        background: $white_normal
        border: solid 1px $main_normal
    h3
      margin: 0
      small
        margin-top: 5px
        display: block
    p
      margin: 5px 0 0 0
      float: right
      @media (min-width: 768px)
        margin-top: 10px

.items
  counter-reset: item
  li
    margin: 0 0 15px 0
    padding: 15px 5px 0 45px
    counter-increment: item
    position: relative
    border-top: 1px dashed $grey_normal
    &:first-child
      border: none
    &:before
      font-family: 'Cabin Sketch', cursive
      font-weight: bold
      font-size: 2.8em
      color: $black_normal
      content: counter(item)
      position: absolute
      top: 5px
      left: 0
      height: 100%
      width: 40px
      text-align: center
    h4
      margin-top: 5px
    img.large
      width: 100%
    .tools
      float: right

#comments
  textarea
    height: 40px
  .submit
    margin-bottom: 20px
    margin-top: -10px
  li
    border-top: 1px dashed $grey_normal
    padding-top: 5px
    margin-top: -8px
    &:first-child
      border: none
    .delete
      float: right
      font-size: 0.8em
    .avatar
      width: 24px

#loves_users
  .btn
    margin-top: 8px
    float: right
  .info
    @media (min-width: 768px)
      display: none
  li
    border-top: 1px dashed $grey_normal
    padding-top: 5px
    margin-top: 5px
    &:first-child
      border: none
      margin-top: -5px

#users
  margin-top: 1em
  li
    margin: 0 0 10px 0
    .avatar
      margin: 0 10px 0 0
    .login
      font-weight: bold
      font-size: 1.2em
    .btn
      margin: 8px 0 0 0
      float: right
  .loves
    &:after
      font-family: 'FontAwesome'
      margin-left: 5px
      content: '\f08a'
      font-size: 0.85em

#user_info
  margin-bottom: 2em
  @media (min-width: 768px)
    margin-bottom: 2.5em
  .left
    padding-right: 15px
  .right_2
    vertical-align: bottom
  .avatar
    width: 96px
    @media (min-width: 768px)
      width: 128px
  .tools
    float: right
  h1
    margin-bottom: 0
    line-height: 24px
    @media (min-width: 768px)
      line-height: 32px
  .loves
    font-size: 1.4em
    @media (min-width: 768px)
      font-size: 2.4em
    &:after
      font-family: 'FontAwesome'
      margin-left: 5px
      content: '\f08a'
      font-size: 0.85em

#user_links
  .btn
    padding: 3px 0 0 0
    line-height: 1.4em
    font-size: 0.8em
    @media (min-width: 768px)
      padding: 6px 12px
      font-size: 1em
      line-height: 2em
  a
    font-size: 1em
    @media (min-width: 768px)
      font-size: 1.2em
  strong
    display: block
    font-size: 1.4em
    @media (min-width: 768px)
      display: inline
      margin-right: 5px

#list_side
  .actions
    margin-top: 2em

#list_side_info
  margin-top: 1em

#list_notes
  .main
    margin-left: 20px
    @media (min-width: 442px)
      margin-left: 18%
    @media (min-width: 768px)
      margin-left: 420px
  .category
    margin-left: 20px
    @media (min-width: 768px)
      margin-left: 60px
  h1
    font-family: 'Cabin Sketch', cursive
    font-weight: bold
    font-size: 2.8em
    @media (min-width: 768px)
      font-size: 3.5em
    &.category
      margin-bottom: 5px
    small
      margin-left: 10px
      font-size: 0.35em
      display: none
      @media (min-width: 442px)
        display: block
      @media (min-width: 768px)
        display: inline
      color: $black_normal
      +text-shadow(2px 1px 0 $white_normal, 5px 4px 0 rgba(0, 0, 0, 0.15))
  span
    margin: 0 10px
    color: $black_normal
  h1, .fa
    color: $black_normal
    +text-shadow(4px 3px 0 $white_normal, 9px 8px 0 rgba(0, 0, 0, 0.15))
  .btn
    +box-shadow(4px 3px 0 $white_normal, 9px 8px 0 rgba(0, 0, 0, 0.15))
  .cloud
    background: url('cloud.png')
    width: 329px
    height: 128px
    position: absolute
    text-align: center
    padding: 25px 45px 0 0px
    top: 30px
    left: 85px
    display: none
    @media (min-width: 768px)
      display: block
    p
      color: $grey_dark
      line-height: 13px
      +transform(rotate(-2deg))
      &:before
        content: '\f0eb'
        font-family: 'FontAwesome'
        margin-right: 0.5em
        display: inline-block
        color: $special_normal
        +transform(rotate(-5deg))

#categories-collapse
  background: $white_normal
  border: 1px solid $grey_normal
  padding: 10px 0
  margin-bottom: 1em
  max-height: 220px
  overflow: auto
  @media (min-width: 768px)
    margin: 0
    position: absolute
    right: 10px
    top: 40px
    width: 400px
    z-index: 100
    max-height: none
    overflow: hidden
    +border-radius(5px)
    +box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.44))
  li
    display: block
    @media (min-width: 768px)
      display: inline-block
    a
      display: block
      margin: 2px 8px
      padding: 2px 5px
      text-decoration: none
      width: auto
      @media (min-width: 768px)
        width: 185px
        margin-right: 0
      &:hover
        background: $grey_normal
        +border-radius(2px)
      &.active
        background: $special_light
        font-weight: bold

#list_edit_info_form
  .edit
    cursor: pointer
    &:after
      font-family: 'FontAwesome'
      margin-left: 0.5em
      content: '\f044'
    &.editing:after
      display: none
    form
      display: inline
      textarea
        resize: none
        overflow: hidden
