#header
  %a.logo{href: lists_path} OWL
  %a.new.btn.btn-success{href: new_list_path} Create a new list
  %p.tools
    - if signed_in?
      = link_to current_user.login, user_path(current_user, r: 1)
      %span /
      = link_to 'logout', destroy_user_session_path, method: :delete
    - else
      = link_to 'register', new_user_registration_path
      %span /
      = link_to 'login', new_user_session_path(r: 1)
